[Desktop Entry]
GenericName=Text Editor
GenericName[ru]=Текстовый редактор
Name=GNU Emacs 29 (pgtk UI)
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacs-pgtk %U
Icon=emacs
Terminal=false
Comment=Powerful editor from the GNU project
Comment[ru]=Мощный текстовый редактор от проекта GNU
Categories=TextEditor;Development;IDE;
Type=Application